#_preseed_V1
# Example preseed.cfg
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select pt
d-i netcfg/get_hostname string inception
d-i netcfg/get_domain string local
d-i localechooser/preferred-locale string en_US.UTF-8
d-i localechooser/supported-locales en_US.UTF-8, pt_PT.UTF-8
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string pt
d-i countrychooser/shortlist select PT
d-i hw-detect/load_firmware boolean true
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i passwd/root-password password inception123
d-i passwd/root-password-again password inception123
d-i passwd/user-fullname string VBox Bernardo
d-i passwd/username string bcastelo
d-i passwd/user-password password inception123
d-i passwd/user-password-again password inception123
d-i clock-setup/utc boolean true
d-i time/zone string PT/Lisbon
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman-lvm/confirm boolean true
d-i grub-installer/only_debian boolean true
d-i finish-install/reboot_in_progress note
popularity-contest popularity-contest/participate boolean false
tasksel tasksel/first multiselect standard, ssh-server